@model corecart.ViewModels.HomeRestaurantViewModel ;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>@Model.greeting</h1>
    <table>
        @foreach (var restaurant in Model.resturants)
        {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                <a asp-action="Detail" asp-route-id="@restaurant.Id">More</a>
            </td>
        </tr>

        }
        </table>
</body>
</html>